.paragraph 
{color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;}

.H1 
{color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 85px;}
.H2 
{color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 50px;}
.H3 
{color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 35px;}